body {
    display: grid;
    grid-template-areas: 
        "header header"
        "main aside"
        "footer aside";
    grid-template-rows: 6em 1fr;
    grid-template-columns: 1fr 350px;
    grid-gap: 20px;
    background-color: #f6f6f6;
    margin-left: 100px; 
    margin-right: 100px;
    margin-top: 50px;
}

body > header {
    grid-area: header;
    display: grid;
    grid-template-areas: 
        "title nav";  
    grid-template-columns: 100px 1fr;
}

header > a {
    grid-area: title;
}

header > nav {
    position: relative;
    grid-area: nav;
    bottom: 10px;
    height: 20px;
    left: 40%;
    display: grid;
    grid-template-areas: 
    "a a a";
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 40px 40px 40px;
}

header > nav a {
    margin: 10px;
    font: 1em sans-serif;
    padding: 1em;
    text-decoration: none;
    color: black;
    height: 62px;
    text-align: center;
}

header > nav a > span {
    position: relative;
    top: 40%;
}

header > nav a:hover {
    background-color: #f6f6f6;
}

body > aside {
    grid-area: aside;
    border: solid 1px black;
}

body > main {
    grid-area: main;
}

body > footer {
    grid-area: footer;
}

body > header > a {
    position: relative;
    left: 25%;
    text-decoration: none;
    width: 200px;
}

body > aside > img {
    width: 100px;
    height: 100px;
}

body > aside > header {
    font: 2em sans-serif;
    text-align: center;
    border-bottom: 1px solid black;
}



body > header , body > main , body > footer {
    border: solid 1px black;
    background-color: #fff;
}