body {
    display: grid;
    grid-template-areas: 
        "header header header"
        "main main aside"
        "footer footer footer";
    grid-template-rows: 6em 1fr 1em;
    grid-template-columns: 150px 1fr 150px;
    grid-gap: 20px;
    background-color: #f6f6f6;
}

header {
    grid-area: header;
}

aside {
    grid-area: aside;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

nav {
    xgrid-area: nav;
    xdisplay: grid;
    xgrid-gap: 5px;
}

nav a {
    text-decoration: none;
    color: black;
}

header > a {
    position: relative;
    left: 25%;
    text-decoration: none;
    width: 200px;
}

aside > img {
    width: 150px;
    height: 150px;
}

header , aside , main , footer {
    border: solid 1px black;
    background-color: #fff;
}